
  
     <div class="navbar">
        <ul class="nav justify-content-start">
            <li class="nav-item">
                <h2 style="  border: 1px solid rgb(218, 248, 223); color: rgb(24, 53, 16); background-color: rgb(218, 248, 223);     margin: 3px 10px 3px 6px;">
                    AP</h2>
            </li>
            <li class="nav-item" style="margin-right: 5px;">
                <h4 style="margin-left: 6px;">Ashmita Prajapati </h4>
                <i class="bi bi-dot" style="color: #72ff72; font-size: 20px; border-radius: 50%; " ></i><span style=" color: #878787;">Active now</span>
            </li>
            <li class="nav-item">
                <i  class="bi bi-gear"></i>
            </li>
            <!-- <li class="nav-item video">
                <i class="bi bi-camera-video nav-link" style="border-radius: 50%; border:1px solid #008fde; background-color: #008fde;" ></i>
            </li>
            
            <li class="nav-item">
                <i class="bi bi-telephone  nav-link "  style=" margin-right:9px; border-radius: 50%; border:1px solid #0099ff;  background-color: #0099ff"></i>
            </li> -->
          </ul>
            <!-- <div class="row " style="margin-top: 10px;  width:auto">
                <div class="col-3">
                    <h2 style="  border: 1px solid rgb(218, 248, 223); color: rgb(24, 53, 16); background-color: rgb(218, 248, 223); ">
                           AP</h2>
                    <h2 style="color: aliceblue;"><a style="border: 1px solid white; color: white; border-radius: 50%; padding: 5px;">MV</a>
                         <span style="color:aliceblue;">Manasvi vaghasiya <span>0.00</span></span><p class="pl-3">set a status</p></h2>
                    
                </div>
                <div class="col-7">
                     <h4>Ashmita Prajapati </h4>
                     <p ><i class="bi bi-dot" style="color: green; font-size: 50%; border-radius: 50%;" ></i>Active</p>
                     
                </div>
                <div class="col-2">
                    <i  class="bi bi-gear"></i>
                </div>
            </div> -->
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <i class="bi bi-search nav-link"></i>
                </li>
                <li class="nav-item">
                    <i class="bi bi-images nav-link"></i>
                </li>
                <li class="nav-item">
                    <i class="bi bi-person-rolodex nav-link"></i>
                </li>
                <li class="nav-item video">
                    <i class="bi bi-camera-video nav-link" style="border-radius: 50%; border:1px solid #008fde; background-color: #008fde;" ></i>
                </li>
                
                <li class="nav-item">
                    <i class="bi bi-telephone  nav-link "  style=" margin-right:9px; border-radius: 50%; border:1px solid #0099ff;  background-color: #0099ff"></i>
                </li>
              </ul>
        </div>
        
        <app-chat></app-chat>
    