// @media only screen and (max-width: 600px) {
  
//     .navbar{width:101.6%}
// }
@media only screen and (max-width: 1000px) {
  
    .navbar{width:65.6%}
}

.navbar{ 
    background-color: black;
    margin-left: auto;
    width: 81.6%;
    position:sticky;
    top: 0;
    z-index: 100;
}
p{
    color: #878787;
    font-size: small;
}

h4{
    color: white;
    font-size: 15px;

}
i{
    color: white;

}
h2{
    border-radius: 48%;
     padding: 10px 12px;
    font-size: small;
}
.video{
    margin-right: 3px;
}

