
  <div class="sidebar-slider" >
    <!-- <button class="sidebar-close" (click)="sidebarShow = !sidebarShow">x</button> -->
    <div>
        <div class="row " style="margin-top: 10px;">
            <div class="col-3">
                <h2 style=" border-radius: 48%; border: 1px solid rgb(255, 206, 243); color: rgb(194, 85, 185); background-color: rgb(255, 206, 243); ">
                       MV</h2>
                <!-- <h2 style="color: aliceblue;"><a style="border: 1px solid white; color: white; border-radius: 50%; padding: 5px;">MV</a>
                     <span style="color:aliceblue;">Manasvi vaghasiya <span>0.00</span></span><p class="pl-3">set a status</p></h2> -->
                
            </div>
            <div class="col-7">
                 <h4 >Manasvi Vaghasiya <span style="color: #878787; font-size: small;">$0.00</span></h4>
                 <p >Set a status</p>
            </div>
         
            <div class="col-2" >
                <i style="color: aliceblue; padding-top: 5px;" class="bi bi-three-dots"></i>
            </div>

        </div>
    </div>
  <div>
      <!-- ---search--- -->
    <div class="input-group rounded row">
        <div class="col-10">
            <span >
                <i class="bi bi-search"></i>
            </span>
            <input type="search" style="background-color:#2c2c2c; font-size: small; border-radius: 10px; border: 1px solid #2c2c2c;    padding-left: 60px;" class="form-control rounded" placeholder="People,groups,Messages" aria-label="Search" aria-describedby="search-addon" />
          
        </div>

        <div class="col-2">
            <i class="bi bi-three-dots-vertical" style="color:white; background-color: #2c2c2c; border-radius: 5px;   padding: 1px 9px 11px 9px;"></i>
        </div>
    </div>
<br>
    <!-- -----icons----- -->
    <div class="row">
        <div class="col-3">
            <i class="bi bi-chat-dots-fill"  style="padding-left: 4px;"></i>
            <p style="color: #878787; font-size: small;" >chats</p>
        </div>
        <div class="col-3">
            <i class="bi bi-telephone pl-2"  style=" padding-left: 4px;"></i>
            <p style="color: #878787; font-size: small;">calls</p>
        </div>
        <div class="col-3">
            <i class="bi bi-person-rolodex pl-2" style=" padding-left: 4px;"></i>
            <p style="color: #878787; font-size: small;">contacts</p>
        </div>
        <div class="col-3">
            <i class="bi bi-bell"  style="padding-left: 5px;"></i>
            <p style="color: #878787; font-size: small;">notification</p>
        </div>
    </div>
    <!-- -----buttons---- -->
    <div class="row">
        <div class="col-6">
                <button class="btn" ><span><i class="bi bi-pencil-square" style="padding-right: 6px;" ></i></span>Meet Now <span><i class="bi bi-chevron-compact-down"></i></span></button>
        </div>
        <div class="col-6">
            <button class="btn"  ><span><i class="bi bi-pencil-square"  style="padding-right: 6px;"></i></span>Net chat <span><i class="bi bi-chevron-compact-down"></i></span></button>

        </div>
    </div>
    <br>
  <!-- ------chat---- -->
  <p  >Recent Chats <span><i class="bi bi-chevron-compact-down"></i></span></p>

  <!-- -----chats-name----- -->
         <!-- 1 -->
         <div class="row " style="margin-top: 10px;">
            <div class="col-3">
                <h2 style="  border: 1px solid rgb(231, 203, 189); color: rgb(192, 100, 58); background-color:rgb(231, 203, 189);">
                       PL</h2>
            </div>
            <div class="col-6">
                 <h4 >Prinkesha Lathidadiya</h4>
                 <p>Good morning</p>
            </div>
         
            <div class="col-3" >
                <p>10:00pm</p>
            </div>
        </div>
       <!-- 2 -->
       <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style="  border: 1px solid rgb(218, 248, 223); color: rgb(24, 53, 16); background-color: rgb(218, 248, 223); ">
                   AP</h2>
        </div>
        <div class="col-6">
             <h4 >Ashmita Prajapati</h4>
             <p>hello</p>
        </div>
     
        <div class="col-3" >
            <p >11:00pm</p>
        </div>
    </div>
    <!-- 3 -->
    <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style="  border: 1px solid rgb(188, 215, 245); color: rgb(25, 53, 71); background-color: rgb(188, 215, 245);">
                   MV</h2>
        </div>
        <div class="col-6">
             <h4 >Rajvi Vaghani</h4>
             <p >Hlw</p>
        </div>
     
        <div class="col-2" >
            <p >12:00pm</p>

        </div>
    </div>
    <!-- 4 -->
    <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style="  border: 1px solid rgb(219, 195, 219); color: rgb(46, 23, 44); background-color: rgb(219, 195, 219); ">
                   KK</h2>
        </div>
        <div class="col-6">
             <h4>krishna kakadiya </h4>
             <p>hello</p>
        </div>
     
        <div class="col-2" >
            <p >12:00pm</p>

        </div>
    </div>
    <!-- 5 -->
    <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style=" border: 1px solid rgb(202, 174, 195); color: rgb(82, 22, 45); background-color: rgb(202, 174, 195);">
                   AS</h2>
        </div>
        <div class="col-6">
             <h4 >Ankita Songani</h4>
             <p>Good noon</p>
        </div>
     
        <div class="col-2" >
            <p>12:00pm</p>
        </div>
    </div>
    <!-- 6 -->
    <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style=" border: 1px solid rgb(235, 230, 219); color: rgb(65, 45, 16); background-color: rgb(235, 230, 219);">
                   HP</h2>
        </div>
        <div class="col-6">
             <h4>Heema Patel</h4>
             <p>Hello</p>
        </div>
     
        <div class="col-2" >
            <p >12:00pm</p>

        </div>
    </div>
    <!-- 7 -->
    <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style="  border: 1px solid rgb(240, 231, 226); color: rgb(75, 46, 37); background-color: rgb(240, 231, 226);">
                   MV</h2>
        </div>
        <div class="col-6">
             <h4>Shaikh Irshad</h4>
             <p>Good noon</p>
        </div>
     
        <div class="col-2" >
            <p>12:00pm</p>

        </div>
    </div>
    <!-- 8 -->
    <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style="border: 1px solid rgb(255, 206, 243); color: rgb(194, 85, 185); background-color: rgb(255, 206, 243);">
                   MP</h2>
        </div>
        <div class="col-6">
             <h4>Meeli Patel</h4>
             <p>Hello</p>
        </div>
     
        <div class="col-2" >
            <p >12:00pm</p>

        </div>
    </div>
    <!-- 9 -->
    <!-- <div class="row " style="margin-top: 10px;">
        <div class="col-3">
            <h2 style=" border-radius: 50%; border: 1px solid rgb(255, 206, 243); color: rgb(194, 85, 185); background-color: rgb(255, 206, 243); font-weight: bold; padding: 17px 21px">
                   MV</h2>
        </div>
        <div class="col-6">
             <h4 style="color: aliceblue;">Manasvi Vaghasiya <span style="color: #878787; font-size: small;">$0.00</span></h4>
             <p style="color: #878787">Set a status</p>
        </div>
     
        <div class="col-2" >
            <i style="color: aliceblue; padding-top: 5px;" class="bi bi-three-dots"></i>
        </div>
    </div> -->
  </div>
  </div>
  <app-header></app-header>
 